<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header.jpg'); height: 100%">
      <div class="container">
        <div style="padding-top: 90px">
          <div class="container">
            <div class="card">
              <div class="card-header text-black">
                Featured
              </div>
              <div class="card-body">
                <h5 class="card-title text-black">Special title treatment</h5>
                <p class="card-text text-black">With supporting text below as a natural lead-in to additional content.
                </p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <footer class="footer" data-background-color="black">
        <div class="container">
          <div class="copyright">
            &copy;
            <a href="https://successive.tech/" target="_blank">Successive Technologies Pvt Ltd.</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>