<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/header.jpg'); max-height: 90%;">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h1 class="h1-seo">Successive Technologies</h1>
                <h3>Welcome to the Solution Hub.</h3>
                <a routerLink='../project-types' class="btn btn-primary btn-round btn-lg">

                    Explore Projects</a>
            </div>
        </div>
    </div>
    <app-fotter></app-fotter>
</div>