<div class="wrapper">
  <div class="clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="0"
      style="background-image: url('assets/img/header.jpg'); height: 133%;">

      <div class="container">
        <div style="padding-top: 90px;">
          <div class="container">
            <div class="row">
              <div class="col-md-4" *ngFor="let type of projectTypes">
                <div class="card">
                  <div class="card-header text-black text-left">
                    <b>{{type.name}}</b>
                  </div>
                  <img *ngIf="!type.html" class="card-img-top" style="width:100%;height:60%"
                    src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="Card image cap">
                  <img *ngIf="type.html" class="card-img-top" style="width:100%;height:60%"
                    [src]="createImgPath(type.html)" alt="Card image cap">
                  <div class=" row card-footer" style="max-height: fit-content;">
                    <div class="col-sm-6"> <a href="/project-list/{{type.id}}" class="btn pointer btn-primary">View
                        Projects</a>
                    </div>
                    <div class="col-sm-6 text-center shortName text-black">{{type.shortName}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-fotter></app-fotter>
    </div>
  </div>
</div>